// HTML GROSOS
.titulo1 {
    font-size: 20px;
}

.grosos {
    width: 10%;
    height: 10%;
}

//HTML EJERCICIOS
.colorFondo {
    background-color: rgb(133, 100, 100);
}

.tituloBlanco {
    color: whitesmoke;
}

.textoLargo {
    font-size: 14px;
    padding: 30px;
    color: whitesmoke;
}

.intropecho {
    font-size: 20px;
    padding: 60px;
    margin: 40px;
}

.bordeimagen {
    border: black;
    border: solid;
}

.boton {
    position: fixed;
    transform: translate(0, 150%);
}

.video {
    justify-content: center;
}